.media-image {
    max-width: none;
    min-width: auto;
    min-height: auto;
    padding: 1.5em;
    /* width: calc(95% - -7.5em); */
    height: 60%;
    /* min-width: 200px; */
    width:auto;
  }
  .media-image > img {
    display:block;
    width: 100%; 
    height: 250px;
    object-fit: cover;
  }
  .media-body {
    display: flex;
     justify-content: center;
     align-items: center;
  }
  .media-body span {
    /* margin-top: 1.5em; */
    padding: 0.5em;
    color: #000;
    background-color: #97901a;
    font-size: 3em;
    text-align:center;
    border-radius: 1em;
    box-shadow: inset 19px -19px 38px #b9b33d,
            inset -19px 19px 38px #e2c8c8;
  }
  .header_song {
    text-align: right;
    font-size: 1.5rem;
    padding: 0.1em 1.2em;
    color: rgb(207, 26, 26);
    background-color: #29c949ca;
    border-radius: 0.5em;
    /* margin-bottom: 1.5em; */
    /* height: 3em; */
  } 

.hidden {
    display: none;
}

.media_song {
    align-items: center;
    background-attachment: fixed;
    background-color: #bbddee;
    /* background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23D18'/%3E%3Cstop offset='1' stop-color='%23300'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath fill='url(%23a)' d='M0 0h800v400H0z'/%3E%3Cg fill-opacity='.4' fill='url(%23b)'%3E%3Ccircle cx='267.5' cy='61' r='300'/%3E%3Ccircle cx='532.5' cy='61' r='300'/%3E%3Ccircle cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E"); */
    background-size: cover;
    border-radius: .5em;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    height: 600px;
    justify-content: center;
    object-fit: cover;
    overflow-y: scroll;
    padding: .5em;
    vertical-align: middle;
}
.media_song::-webkit-scrollbar {
    width: 1px;
  }
  .audio_block > p {
    display: block;
    font-size: 1.5rem;
    text-align: center;
    color: rgb(230, 23, 23);
    font-weight: bold;
  }
  .video_block > p {
    display: block;
    font-size: 1.5rem;
    text-align: center;
    color: rgb(230, 23, 23);
  }
  .video_block {
    position: relative;
    
    width: 100%;
    height: 400px;
    
  }
  #video_frame
  {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100% !important;
    height: 47vh !important;
    border-width: 0;
    outline-width: 0;
  }
  
  audio::-webkit-media-controls-enclosure {
  
    background-color: #29c949ca;
    }

    .tzi-image {
        height: auto;
        width: 100%;
      }

      .header_song > p {
        white-space: nowrap;
        /* padding-left: 1em; */
        font-size: 12px;
        position: absolute;
        color			: rgb(173, 19, 19);
        top: 131px;
        /* left: 2em; */
        /* left: 19px; */
        width: 100%;
    }
    .LinkTo {
        position: absolute;
        top: 96%;
        left: 31%;
        background-color: rgb(49, 99, 53); /* Blue background */
        border: none; /* Remove borders */
        color: white; /* White text */
        padding: 2px 6px;
        font-size: 14px; /* Set a font size */
        cursor: pointer; /* Mouse pointer on hover */
        border-radius: .5em;
    }